/* Contents

0) CSS resets

1) Universal styles

2) Box sizing & Clearfix

3) Header-Input section

4) Header-Navigation

5) Main

6) Video section

7) People also ask

8) People also search for

9) Related Searches

10) Page Navigation

11) Footer */

/* ---------- CSS resets ---------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------- */

/* Universal styles */

body {
	font: 14px arial, sans-serif;
}
a {
	text-decoration: none;
}
h3 {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 20px;
	line-height: 1.3em;
	color: #202124;
	padding: 8px 0 8px 0;
	margin: 40px 0 0 0;
}

/* Box sizing & Clearfix */

* {
	box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Header-Input section */

header {
	background-color: #fafafa;
}
.input-section {
	width: 100%;
	height: 65px;
	padding: 10px;
}
.google-logo {
	display: inline-block;
	width: 100px;
	height: 34px;
	float: left;
	margin: 5px 0 0 10px;
}
input {
	width: 692px;
	height: 46px;
	margin: 0 200px 0 50px;
	border: 1px solid #bfbfbf;
	border-radius: 50px;
	padding: 10px 45px 10px 20px;
	background-image: url(../assets/icons/search.png);
	background-repeat: no-repeat;
	background-position: 98% center;
	background-size: 30px 30px;
}
input:focus {
	outline: none;
}
.googleApps {
	height: 24px;
	width: 24px;
	float: right;
	margin: 8px 20px 5px 5px; 
	background-image: url(../assets/icons/grid.png);
	background-size: 24px 24px;
	background-position: center center;
}
.myAccount {
	height: 32px;
	width: 32px;
	float: right;
	margin: 5px 20px 5px 5px; 
	background-image: url(../assets/icons/smiley.png);
	border-radius: 50%;
	background-size: 28px 28px;
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px solid rgba(152, 215, 235, 0.8);
}

/* Header-Navigation */

nav {
	padding:  0 480px 0 145px;
	width: 100%;
	height: 65px;
	font: 13px arial,sans-serif;
	border-bottom: 1px solid #e2e2e2;
}
.left-navigation li {
	float: left;
	padding: 8px 14px 8px 16px;
	margin-left: 2px;
	border: 1px solid #b9b9b9;
	border-radius: 5px;
}
.right-navigation li {
	float: right;
	padding: 8px 14px 8px 16px;
	margin-right: 2px;
	border: 1px solid #b9b9b9;
	border-radius: 5px;
}
.left-navigation li:hover {
	background-color: rgba(152, 215, 235, 0.1);
	box-shadow: 1px 2px 2px rgba(152, 215, 235, 0.6);
}
.right-navigation li:hover {
	background-color: rgba(152, 215, 235, 0.1);
	box-shadow: 1px 2px 2px rgba(152, 215, 235, 0.6);
}

/* Main */

main {
	margin: 0 500px 0 200px;
}
.stats {
	color: #70757a;
	margin: 15px 0;
}
.search-results {
	margin: 12px 0 35px 0;
}
.search-results h5 {
	font: 14px arial, sans-serif;
	color: #5f6368;
	margin: 0 0 3px;
	padding: 4px 0 0;
}
.search-results h5 bold {
	color: #202124;
}
.search-results h2 {
	margin: 0 0 3px;
	padding: 4px 0 0;
	font-size: 20px;
	font-weight: normal;
}
.search-results p {
	margin: 0 0 3px;
	padding: 4px 0 0;
	color: #4d5156;
}

/* Video section */

.video-part {
	display: inline-block;
	width: 100%;
	padding: 10px 0;
}
.video-border {
	border-top: 1px solid #d5d9ed;
	border-bottom: 1px solid #d5d9ed;
}
.video-part:hover {
	background-color: rgba(152, 215, 235, 0.1);
}
.video-part:hover .video-title {
	text-decoration: underline;
}
.video-part img {
	width: 124px;
	height: 70px;
	border-radius: 5px;
	float: left;
	margin-right: 20px;
}
.video-title {
	float: left;
	font: 16px arial, sans-serif;
	color: #1a0dab;
	margin-bottom: 15px;
}
.video-info {
	display: inline-block;
	width: 75%;
}
.youtube {
	color: #202124;
}
.channel {
	color: #70757a;
}
.video-date {
	color: #70757a;
	display: block;
	margin-top: 3px;
}
.button {
	display: inline-block;
	width: 50%;
	padding: 7px 11px;
	text-align: center;
	color: #1a0dab;
	border: 1px solid #bfbfbf;
	border-radius: 20px;
	margin: 0 25%;
	cursor: pointer;
}
.button:hover {
	background-color: rgba(233, 233, 240, 0.5);
}

/* People also ask */

.question {
	border-bottom: 1px solid #bfbfbf;
	display: block;
	padding: 9px 0 9px 5px;
	font-size: 16px;
	line-height: 1.58;
	text-align: left;
	cursor: pointer;
}
.question:first-child {
	border-top: 1px solid #bfbfbf;
}
.question:last-child {
	border-bottom: none;
}
.question:hover {
	background-color: rgba(233, 233, 240, 0.5);
}
.div-line {
	width: 87%;
	float: left;
}
.feedback {
	padding-left: 25px;
	font-size: 12px;
	color: #70757a;
}
.feedback:hover {
	text-decoration: underline;
}

/* People also search for */

.reco-container {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}
.reco-item {
	border: 1px solid #bfbfbf;
	border-radius: 8px;
}
.img-box {
	width: 100px;
	height: 100px;
	text-align: center;
}
.img-box img {
	width: 95px;
	height: auto;
}
.img-vertical-center {
	padding-top: 30px;
	padding-bottom: 30px;
}
.item-name {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.item-name a:hover {
	text-decoration: underline;
}

/* Related Searches */

.left-link-list {
	float: left;
	width: 50%;
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
}
.right-link-list {
	float: left;
	width: 50%;
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
}
.left-link-list li,
.right-link-list li {
	padding: 5px 0;
}

/* Page Navigation */

.page-navigation {
	width: 100%;
	text-align: center;
	display: inline-block;
	padding: 10px 0 30px 0px;
}
.page-navigation a {
	font-size: 16px;
	display: inline-block;
	padding: 4px 4px;
	border: 1px solid #b9b9b9;
	border-radius: 5px;
}
.page-navigation a:hover {
	background-color: rgba(152, 215, 235, 0.1);
	box-shadow: 1px 2px 2px rgba(152, 215, 235, 0.6);
}

/* Footer */

.location-background {
	background-color: #f2f2f2;
	overflow: hidden;
	width: 100%;
	line-height: 40px;
	border-top: 1px solid #b9b9b9;
}
.location {
	margin: 0 0 0 200px;
}
.country {
	float: left;
	font-size: 15px;
	color: #70757a;
	padding: 0 18px 0 0;
	border-right: 1px solid #bfbfbf;
}
.region-box {
	display: inline-block;
	float: left;
	color: #70757a;
	padding: 0 0 0 18px;
}
.region {
	color: #3c4043;
	font-weight: bold;
}
.footer-options-background {
	background-color: #f2f2f2;
	overflow: hidden;
	width: 100%;
	line-height: 40px;
	border-top: 1px solid #b9b9b9;
}
.footer-options {
	margin: 0 0 0 173px;
}
.footer-options a {
	display: inline-block;
	padding: 0 0 0 27px;
	color: #70757a;
	float: left;
}
